/* Réinitialisation et styles de base */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: #333;
}

/* Styles du header */
nav.navbar {
    margin-bottom: 10px;
}

/* section À propos */
#about {
    background-color: #fff; /* Arrière-plan blanc ou toute autre couleur de votre choix */
    padding: 10px 0;
    color: #333; /* Couleur du texte */
    text-align: center;
  }
  
  #about h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #007bff; /* Utilisez une couleur qui s'intègre bien à votre thème */
  }
  
  #about p, #about ul {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
  }
  
  #about ul {
    list-style-type: none; /* Enlève les puces des listes */
    padding: 0;
  }
  
  #about ul li:before {
    content: "•"; /* Ajoute une puce personnalisée */
    color: #007bff; /* Couleur de la puce */
    font-weight: bold; /* Rend la puce plus visible */
    display: inline-block; 
    width: 1em; /* Espacement avant le texte */
    margin-left: -1em; /* Ajuste l'espacement à gauche */
  }
  
  #about a {
    color: #007bff;
    text-decoration: none;
  }
  
  #about a:hover {
    text-decoration: underline;
  }
  
  #about .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  #about .btn-primary:hover {
    background-color: #0056b3;
  }
  
  #about aside {
    background-color: #f8f9fa; /* Léger fond gris pour l'encadré */
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Légère ombre portée */
  }
  
  /* Responsive Design pour la section À propos */
  @media (max-width: 768px) {
    #about {
      padding: 30px 20px;
    }
    
    #about aside {
      margin-top: 20px;
    }
  }
  

/* section Compétences */

#skills .card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

#skills .card:hover {
    transform: translateY(-5px);
}

#skills .card-title {
    color: #007bff; 
}

#skills h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

/* section Projets */
#projects .card {
    margin-bottom: 20px;
}

#projects h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

/* section Contact */
#contact form {
    max-width: 600px;
    margin: auto;
}
#contact {
    background-color: #f9f9f9;
    padding: 15px 0;
  }
  
  #contact h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #333;
  }
  
  /* Styles du formulaire */
  #contact-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
  }
  
  #contact-form .form-group {
    margin-bottom: 25px;
  }
  
  #contact-form label {
    font-weight: bold;
    color: #333;
  }
  
  #contact-form input,
  #contact-form textarea {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
  }
  
  #contact-form button[type="submit"] {
    width: 100%;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  #contact-form button[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue */
  }
  
  /* Responsive adjustments */
  @media (max-width: 767px) {
    #contact-form {
      padding: 15px;
    }
  }
  

/* Styles du footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #f8f9fa;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}