/* =========================================================================== */
/* Variables globales                                                         */
/* =========================================================================== */
:root {
  --primary-color: #007bff;
  --secondary-color: #0056b3;
  --background-color: #f4f4f4;
  --text-color: #333;
  --grey-color: #555;
  --light-color: #fff;
  --shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* =========================================================================== */
/* Réinitialisation des styles                                                */
/* =========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

/* =========================================================================== */
/* Liens et boutons                                                           */
/* =========================================================================== */
a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

button, .btn-primary {
  transition: background-color 0.3s ease, transform 0.2s ease;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
}

button:hover, .btn-primary:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

/* =========================================================================== */
/* Sections générales                                                         */
/* =========================================================================== */
section {
  padding: 50px 0;
  text-align: center;
}

section h2 {
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: var(--primary-color);
}

i{
  color: skyblue;
}

/* =========================================================================== */
/* Header et navigation                                                       */
/* =========================================================================== */
header {
  position: sticky;
  top: 0;
  z-index: 1030;
  background-color: #333;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}

/* =========================================================================== */
/* Images                                                                     */
/* =========================================================================== */
img {
  border-radius: 8px;
  box-shadow: var(--shadow-light);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

/* =========================================================================== */
/* Sections spécifiques                                                       */
/* =========================================================================== */

/* Section "À propos" */
#about {
  background-color: var(--light-color);
  text-align: center;
  padding: 50px 0;
}

#about h2 {
  color: var(--primary-color);
  margin-bottom: 30px;
}

#about img {
  margin-bottom: 20px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  box-shadow: var(--shadow-light);
}

/* Section "Compétences" */
#skills {
  background-color: var(--background-color);
}

#skills .card {
  border: none;
  border-radius: 8px;
  box-shadow: var(--shadow-light);
  transition: transform 0.3s ease-in-out;
}

#skills .card:hover {
  transform: translateY(-10px);
  box-shadow: var(--shadow-dark);
}

/* Section "Projets" */
#projects {
  background: linear-gradient(135deg, var(--primary-color) 30%, var(--secondary-color) 90%);
  color: var(--light-color);
}

#projects h2{
  color: var(--light-color);
}

#projects .card {
  border-radius: 8px;
  box-shadow: var(--shadow-light);
  transition: transform 0.3s ease-in-out;
}

#projects .card:hover {
  transform: translateY(-10px);
  box-shadow: var(--shadow-dark);
}

#projects .card-title {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 10px;
}

#projects .card-text {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

/* Section "Contact" */
#contact {
  background-color: var(--light-color);
  bottom: 10 px;
}

#contact .form-group label {
  font-weight: bold;
  color: var(--text-color);
}

#contact .btn-primary {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* =========================================================================== */
/* Footer                                                                     */
/* =========================================================================== */
footer {
  background-color: #333;
  color: var(--light-color);
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: var(--light-color);
  transition: color 0.3s ease;
}

footer a:hover {
  color: var(--primary-color);
}

/* =========================================================================== */
/* Responsive                                                                 */
/* =========================================================================== */
@media (max-width: 768px) {
  h2 {
      font-size: 2rem;
  }

  nav.navbar {
      font-size: 0.9rem;
  }

  section {
      padding: 30px 10px;
  }
}

/* =========================================================================== */
/* BLC page                                                                   */
/* =========================================================================== */
#BLC{
  background-image: url('../images/blc/FondBasic.png');
  font-family: 'Poppins', sans-serif;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: white; 
  padding: 50px 0; 
}

#project-BLC{
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 20px;
}

.white-text {
  color: white;
}

.material-symbols-outlined{
  margin-top: 75px;
  margin-left: 69px;
  margin-right: 69px;
  font-size: 3em !important;
  box-shadow: 1px 5px 5px rgba(107, 107, 107, 0.842);
}

/*18/03/2025 */

/* Styles pour l’arborescence du parcours */
.formation-tree {
  padding: 2rem;
  position: relative;
  animation: fadeIn 1.5s ease-out;
}

.formation-tree .tree {
  list-style-type: none;
  padding-left: 40px;
  position: relative;
}

.formation-tree .tree::before {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  width: 2px;
  background: var(--primary-color);
}

.formation-tree .tree li {
  margin: 1.5rem 0;
  position: relative;
}

.formation-tree .tree li::before {
  content: '';
  position: absolute;
  top: 0.8rem;
  left: -20px;
  width: 20px;
  height: 2px;
  background: var(--primary-color);
}

.formation-tree .node {
  background: var(--light-color);
  color: var(--text-color);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: var(--shadow-light);
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s forwards;
}

/* Animations clés */
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
